* {
  padding: 0;
  margin: 0;
  
}
*:focus {
  outline: none;
}

body {
margin: 0;
padding: 0;
}

.app.navbar{
  position: fixed;
  justify-content: space-between;
  

}
.navbar{
  background-color: rgb(3, 18, 51);
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}

 .article-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
  /* padding: 20px; */
  /* margin-bottom: 30px; */
}

